/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sono:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Rampart One', cursive;

}

.wraper-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(105, 9, 121);
    background: linear-gradient(90deg, rgba(105, 9, 121, 1) 0%, rgba(175, 99, 255, 1) 44%, rgba(0, 212, 255, 1) 100%);
    padding-bottom: 50px;
    /* background: url(../images/neonovyy-fon-dlya-fotoshopa.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; */

}

/* Header */

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.title-leavel {
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
}

.leavel-select {
    padding: 2px 10px;
    border: 1px solid transparent;
    outline: none;
    background: transparent;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

Select:active {
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

option:active {
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    outline: none;
}

.title-time {
    /* font-family: 'Montserrat', sans-serif; */
    color: black;
    background-color: transparent;
    padding: 5px 13px;
    font-size: 16px;
    border: none;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    letter-spacing: 1.2px;
    margin-bottom: 3px;
    padding-top: 3px;
}

.title-time-numbers {
    font-size: 15px;
    margin-left: 5px;
}

/* Btn */
.buttom-body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    padding-bottom: 0;
}

.start-btn {
    letter-spacing: 1.5px;
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: white;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.25s linear;
    /* font-family: 'Montserrat', sans-serif; */
    font-weight: 700;
    cursor: pointer;
}

.start-btn:hover {
    background-color: #1997e9c7;
}

.wrapper {
    padding: 15px 25px;
    border-radius: 10px;
    background: #F8F8F8;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 15px;
}

/* Ես պահը չգիդեմ ճիշտա թե չե բայց դե հլը որ սենց */
.cards.cards-mid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 15px;
}

.cards.cards-high {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 15px;
}

.card,
.view {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card.card-mid {
    display: none;
}

.card.card-high {
    display: none;
}

.card.card-high-block {
    display: block;
}

.card.card-mid-block {
    display: block !important;
}

.cards {
    height: 450px;
    width: 350px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cards .card {
    cursor: pointer;
    list-style: none;
    user-select: none;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
    /* height: calc(100% / 4 - 10px);
    width: calc(100% / 4 - 10px); */
}

.card.shake {
    animation: shake 0.35s ease-in-out;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    20% {
        transform: translateX(-13px);
    }

    40% {
        transform: translateX(13px);
    }

    60% {
        transform: translateX(-8px);
    }

    80% {
        transform: translateX(8px);
    }
}

.card .view {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 7px;
    background: #fff;
    pointer-events: none;
    backface-visibility: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s linear;
}

.card .front-view img {
    /* width: 19px; */
    max-width: 100%;
}

.card .back-view img {
    /* max-width: 45px; */
    max-width: 100%;

}

.card .back-view {
    transform: rotateY(-180deg);
}

.card.flip .back-view {
    transform: rotateY(0);
}

.card.flip .front-view {
    transform: rotateY(180deg);
}

.fliprev {
    transform: rotateY(30deg);

}

@media screen and (max-width: 700px) {
    .cards {
        height: 350px;
        width: 350px;
    }

}

@media screen and (max-width: 530px) {
    .cards {
        height: 300px;
        width: 250px;
    }

}



.mmmm {
    height: fit-content;
    /* font-family: 'Sono', sans-serif; */
    font-family: 'Rampart One', cursive;
    margin: 0 auto;
    /* margin: 25px 0; */
    display: flex;
    max-width: fit-content;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 5px;
    text-shadow: 3px -1px 3px #908989;
    /* box-shadow: inset 0px -32px 44px -20px rgba(120, 115, 115, 0.34); */
}

/* .one-m {} */

.e {
    color: red;
    font-weight: 200;
    transform: rotate(15deg);
}

/* .m {} */

.o {
    position: relative;
}

.o::after {
    content: '?';
    color: red;
    position: absolute;
    left: 26px;
    bottom: 43px;
    font-size: 16px;
    font-weight: 900;
}

.o.puls::after {
    animation: puls 1s linear infinite;
}

@keyframes puls {

    0% {
        transform: scale(0.95);
    }

    70% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(0.95);
    }
}

.e.shak {
    animation: shak 1.5s linear infinite;
}

@keyframes shak {

    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-20deg)
    }

    70% {
        transform: rotate(20deg)
    }

    100% {
        transform: rotate(0deg);
    }
}












.dropbtn {
    color: black;
    background-color: transparent;
    /* color: white; */
    padding: 0px;
    padding-bottom: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 80px;
    margin-bottom: 3px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #1997e9c7;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content.show {
    display: block;
    position: absolute;
    background-color: #f1f1f1;
    width: 80px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
}

.dropdown-content a {
    color: black;
    padding: 7px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}


.dropdown a:hover {
    background-color: #ddd;
}


/* Game ower */
.game-ower-body{
        top: 0;
        min-height: 100vh;
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}
                .game-ower {
                    overflow: hidden;
                    font-size: 20px;
                    /* position: absolute; */
                    top: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    column-gap: 30px;
                    width: 700px;
                     height: 330px;
                    background: url(../images/game-ower-backgraund.jpg);
                    backdrop-filter: blur(15px);
                    border-top-left-radius: 25px;
                    border-bottom-right-radius: 25px;
                    background-position: center;
                    background-size: cover;
                        background-position-x: -6px;
                }
    
        .game {
            font-size: 65px;
            letter-spacing:5px;
            display: flex;
        }
    
        .ower {
            font-size: 65px;
            letter-spacing: 5px;
            display: flex;
        }

        .o-game::after{
                    animation: puls 1s linear infinite;
                    left: 22px;
                        bottom: 36px;
        }
.e-game{
        color: red;
            font-weight: 200;
            transform: rotate(15deg);
}
.e-game.shak {
    animation: shak 1.5s linear infinite;
}
